doctype html
html
	include ./includes/head
	body
		div(class='uk-grid')
			div(class='uk-width-1-2 uk-align-center')
				h1(class='uk-text-center') Hello there!
				a(href='/login' title="login" class='uk-button uk-width-1-2') login
				a(href='/signup' title='signup' class='uk-button uk-width-1-2') signup