<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="by.bsuir.bsuirweb">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="by.bsuir.bsuirweb.ui.screen.LoginActivity" android:label="Авторизация">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.screen.PhotosActivity" android:label="Фотографии"/>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="by.bsuir.bsuirweb.files"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files"/>

        </provider>
    </application>

</manifest>
